<a href="https://colab.research.google.com/github/ugurcankuzu/XAI/blob/main/datasetAndModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
import pickle

In [ ]:
data = pd.read_csv("/content/Dataset/car_data.csv")

In [ ]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [ ]:
data.shape

(301, 9)

In [ ]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
categoric_cols = ["Fuel_Type","Transmission","Selling_type"]
for i in categoric_cols:
  data[i].replace(to_replace=["Petrol","Diesel","CNG","Manual","Automatic","Dealer","Individual"],value=[0,1,2,0,1,0,1],inplace=True)

In [ ]:
X = data.drop(["Car_Name","Selling_Price"],axis=1)
Y = data["Selling_Price"]

In [ ]:
print(X)

     Year  Present_Price  Driven_kms  Fuel_Type  Selling_type  Transmission  \
0    2014           5.59       27000          0             0             0
1    2013           9.54       43000          1             0             0
2    2017           9.85        6900          0             0             0
3    2011           4.15        5200          0             0             0
4    2014           6.87       42450          1             0             0
..    ...            ...         ...        ...           ...           ...
296  2016          11.60       33988          1             0             0
297  2015           5.90       60000          0             0             0
298  2009          11.00       87934          0             0             0
299  2017          12.50        9000          1             0             0
300  2016           5.90        5464          0             0             0

     Owner
0        0
1        0
2        0
3        0
4        0
..     ...
296      0
297      0
298      0
299      0
300      0

[301 rows x 7 columns]

In [ ]:
trainX,testX,trainY,testY = train_test_split(X,Y,train_size=0.8,shuffle=True)

In [ ]:
lr = LinearRegression()
lr.fit(trainX,trainY)

LinearRegression()

In [ ]:
predictY = lr.predict(testX)

In [ ]:
print("Mean Absolute Error: {}".format(mean_absolute_error(testY,predictY)))

Mean Absolute Error: 0.9959186425296046

In [ ]:
with open("datasetAndModelOut.txt","wb") as f:
  pickle.dump(lr,f)
  pickle.dump(testX,f)
  pickle.dump(trainX,f)
  pickle.dump(testY,f)
  pickle.dump(trainY,f)